/mega-able-lite/nbproject/private/
/mega-able-lite/build/
/mega-able-lite/dist/
/mega-able-lite/mega-able-lite/build/
/mega-able-lite/mega-able-lite/dist/
/mega-able-lite/mega-able-lite/nbproject/private/
/Retail_Manage (1)/build/
/Retail_Manage (1)/dist/
/Retail_Manage (1)/nbproject/private/
/Chain_Store_Management/build/
/Chain_Store_Management/dist/
/Chain_Store_Management/nbproject/private/
